
<form name="discoveryRequestForm" role="form" ng-submit="vm.save()"> <!--novalidate ng-submit="vm.submitDiscoveryRequest()" show-validation -->

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDiscoveryServerLabel">Discovery Request</h4>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-show="vm.server.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.server.id" readonly />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <!--button type="submit" class="btn btn-primary" --> <!-- ng-click="vm.request()"-->
            <!--span class="glyphicon glyphicon-save"></span>&nbsp;<span>Discovery Request</span>
        </button-->
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Discovery Request</span>
        </button>
    </div>
</form>
